In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
dataset = pd.read_csv('census.csv', sep=';')

In [3]:
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
dataset['income'].value_counts()

32561

In [4]:
7841 / len(dataset), 24720 / len(dataset)

(0.2408095574460244, 0.7591904425539756)

In [5]:
split = StratifiedShuffleSplit(test_size=0.1)
for x, y in split.split(dataset, dataset ['income']):
    df_x = dataset.iloc[x]
    df_y = dataset.iloc[y]

In [6]:
df_x.shape, df_y.shape

((29304, 15), (3257, 15))

In [7]:
df_y.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
18754,25,Private,204536,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,35,United-States,<=50K
14114,33,Private,261511,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
12389,39,Private,203180,Some-college,10,Divorced,Farming-fishing,Unmarried,White,Female,0,0,45,United-States,<=50K
28160,31,Local-gov,199368,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,Black,Male,0,0,50,United-States,>50K
22393,58,Private,365511,Some-college,10,Divorced,Machine-op-inspct,Not-in-family,Other,Male,0,0,40,Mexico,<=50K

In [8]:
100 / len(dataset)

0.0030711587481956942

In [9]:
df_x.shape, df_y.shape

((29304, 15), (3257, 15))

In [10]:
df_y['income'].value_counts()

income
 <=50K    2473
 >50K      784
Name: count, dtype: int64

In [11]:
from sklearn.model_selection import StratifiedShuffleSplit

In [12]:
dataset['income'].value_counts()

income
 <=50K    24720
 >50K      7841
Name: count, dtype: int64

In [13]:
7841 / len(dataset), 24720 / len(dataset)

(0.2408095574460244, 0.7591904425539756)